.areaTrabajo-container{
    width: 90%;
    margin: 0 auto;
}

.seccionSuperior{
    display: flex;
    gap: 40px;
}




// unicamente se indica el tamaño el estilo esta en el archivo otrosStyle
.buscador-container {
    width: 39%;
    height: 45px;
}

// unicamente se indica el tamaño el estilo esta en el archivo otrosStyle
.table-container {
    margin-top: 20px;
    width: 95%;
}

