
@use "styles/tableStyle";
@use "styles/subMenuStyle.scss";
@use "styles/formularioStyle.scss";
@use "styles/botonesStyle.scss";
@use "styles/otrosStyle.scss";

@layer theme, base, components, utilities;

/* 3. Cargamos la configuración y las utilidades, SIN el preflight */
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fortawesome/fontawesome-free/css/all.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--colorFondoPrincipal);
}


// variables
:root{
    --azulPrincipal: #1A2535;
    --textoNavs: white;
    --azulSecundario: #1A6FBD;
    --heightTopBar: 9vh;
    --heightNavBar: calc(100vh - var(--heightTopBar));
    --widthNavBar: 4vw;
    --colorBorde: #E5EAF1;
    --colorFondoPrincipal: #F5F5F4;
}