// Modal Agregar Producto Styles
.miniSub-container {
 width: min(100%, 335px);
}

.w-medicamento{
  width: min(100%, 335px);
}

.w-insumo{
  width: min(100%, 335px);
}


.modal-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.modal-content {
  // padding: 28px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  // border: solid 1px blue;
}

.form-row {
  display: flex;
  gap: 14px;
  width: 100%;
  align-items: flex-start;
}


